body {
  margin: 0;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #001277;
  color: white;
  border: 1px solid #001277;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #3452ff;
  border-color: #3452ff;
}

.btn--alt {
  background-color: transparent;
  color: #212da0;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
  margin: 5rem;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: auto;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

li {
  margin: 5%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-start;

  width: 800px;
  align-items: flex-start;
  align-content: flex-start;

  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-right: 20px;
  background-color: #ffffff;
}

.text-placeholder {
  border-radius: 5px;
  width: 50px;
  height: auto;
  text-align: center;
  flex: 1;
}
.seanlist {
  margin: 15px;
  width: 50px;
  background-color: #ffffff;
}

li {
  margin: 0;
  padding: 0;
}
