html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);

  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-color: #dfdfdf;
}

h1,
h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
  margin: 5rem;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 50px;
}

li {
  margin-bottom: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-start;

  width: 200px;
  align-items: flex-start;
  align-content: flex-start;

  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
  background-color: #ffffff;
}

.text-placeholder {
  border-radius: 5px;
  width: 50px;
  height: auto;
  text-align: center;
  flex: 1;
}
.seanlist {
  margin: 15px;
  width: 50px;
  background-color: #ffffff;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.mybutton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 29px;
  left: 15px;
  align-self: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 50px;
  height: 100px;
  border-radius: 50%;
}
nav {
  position: absolute;

  background-color: #9c1458;

  border-radius: 20px;

  width: 50px;
  height: auto;
}
.background {
  width: auto;
  z-index: 2;
  width: 50px;
  background: #fff;
}
